<nav class="menu">
  <div class="menu-container">
    <!-- Logo -->
    <div class="menu-left">
      <img src="logo.png" alt="datagov Logo" class="logo">
      <a href="{% url 'homepage' %}" class="nav-link">Home</a>
      <a href="{% url 'cultura:home' %}" class="nav-link">Cultura</a>
      <a href="{% url 'educacao:home' %}" class="nav-link">Educacao</a>
      <a href="#" class="nav-link">Censo</a>

    </div>

    <!-- Links sociais -->
    <div class="menu-right">
        <a href="#" class="nav-link"><i class="fab fa-github"></i></a>
        <a href="#" class="nav-link"><i class="fas fa-envelope"></i></a>
        <a href="#" class="nav-link"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</nav>
