{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
      <title>{% block titulo %}{{ title }}{% endblock %}</title>
  </head>
  <body>
    <header>
      {% include 'partials/_nav.html' %}
    </header>
    <div class="layout">
      <main class="content">
        {% block content %}
        <!-- Conteúdo padrão ou vazio -->
        {% endblock %}
      </main>    
    </div>
    {% include 'partials/_footer.html' %}
  </body>
</html>

